<h2>Listing Inactivity reasons</h2>

<table class="table">
  <thead>
    <tr>
      <th>Reason</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for inactivity <- @reasons do %>
    <tr>
      <td><%= inactivity.reason %></td>

      <td class="text-right">
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<%= link "New inactivity", to: inactivity_path(@conn, :new), class: "btn btn-primary btn" %>
