<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>CMS Version 3.0</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body class="bg">

  <div class="container-fluid full">
  
    <header class="header">
          <nav class="navbar navbar-default navbar-fixed-top navbar-inverse">

            <div class="container-fluid">
              <div class="navbar-header">
                <a class="navbar-brand" href="#">Ardu Management System</a>
              </div>

              <ul class="nav navbar-nav">

              <%= if @current_user do %>  
                <%= if @current_user.level == "admin" do %>
                  <li class="links"><%= link "Users", to: user_path(@conn, :index)%></li>
                  <li class="links"><%=link("Clinic Management", to: "/clinics", method: "get")%></li>
                  </ul>
                <% else %>
                  <li class="links"><%=link("Patient", to: "/patients", method: "get")%></li>
                  <li class="links"><%= link "Report", to: report_path(@conn, :index)%></li>
                  </ul>
                  <div class="dropdown">
              <button class="dropbtn">Clinic Entities</button>
              <div class="dropdown-content">
                <%=link("Pharmacy", to: "/pharms", method: "get")%>
                <%=link("General Practitoner", to: "/gps", method: "get")%>
                <%=link("Clinic Doctor", to: "/cdoctors", method: "get")%>
                
            </div>
          </div>
          <div class="dropdown">
              <button class="dropbtn">Clinical Measurements</button>
              <div class="dropdown-content">
                <%=link("Phlebotomy", to: "/phleb", method: "get")%>
                <%=link("Vaccination", to: "/vaccs", method: "get")%>
              </div>
          </div>
          <div class="dropdown">
              <button class="dropbtn">Config</button>
              <div class="dropdown-content">
                <%=link("Patient gender options", to: "/genders", method: "get")%></li>
                <%=link("Patient relationship options", to: "/relationships", method: "get")%></li>
                <%=link("Inactivity reason options", to: "/reasons", method: "get")%></li>
                <%=link("Vaccination brands", to: "/vaccbrands", method: "get")%></li>
              </div>
          </div>
      <% end %>
      <% end %>
          
        </nav>
      </header>

      
    </div>

    <ol class="breadcrumb text-right">
      <%= if @current_user do %>
        <li>
          Logged in as: <%= @current_user.username %>
        </li>
        <li>
          Access level: <%= @current_user.level %>
        </li>
        <li>
          <%= link "Log out", to: session_path(@conn, :delete, @current_user), method: "delete" %>
        </li>
      <% else %>
        <li>No user currently logged in</li>
        <li><%= link "Log in", to: session_path(@conn, :new) %></li>
      <% end %>
    </ol>
    <h4 class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></h4>
    <h4 class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></h4>

    <div class="px-4">
      <div class="panel panel-default">
        <div class="panel-body">
          <main role="main">
              <%= render @view_module, @view_template, assigns %>
            </main>
        </div>
      </div>
    </div>
      

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    <%= Drab.Client.run(@conn) %>
  </body>
</html>
