<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>CMS Version 3.0</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body class="bg">
  <div class="container-fluid full">
    <header class="header">
          <nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
            <div class="container-fluid">
              <div class="navbar-header">
                <a class="navbar-brand" href="#">Ardu Management System</a>
              </div>
              <ul class="nav navbar-nav  ">
                <li class="links"><%=link("Patient", to: "/patients", method: "get")%></li>
              </ul>
              <div class="dropdown">
              <button class="dropbtn">Clinic Options</button>
              <div class="dropdown-content">
                <%=link("Pharmacy", to: "/pharms", method: "get")%>
                <%=link("General Practitoner", to: "/gps", method: "get")%>
                <%=link("Clinic Doctor", to: "/cdoctors", method: "get")%>
                <%=link("Patient gender options", to: "/genders", method: "get")%></li>
                <%=link("Patient relationship options", to: "/relationships", method: "get")%></li>
                <%=link("Inactivity reason options", to: "/reasons", method: "get")%></li>
            </div>
          </div>
          <div class="dropdown">
              <button class="dropbtn">Clinical Measurements</button>
              <div class="dropdown-content">
                <%=link("Phlebotomy", to: "/phleb", method: "get")%>
                <%=link("Vaccination", to: "/vaccs", method: "get")%>
              </div>
          </div>
        </nav>
      </header>
    </div>
    <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
    <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

    <div class="px-4">
      <div class="panel panel-default">
        <div class="panel-body">
          <main role="main">
              <%= render @view_module, @view_template, assigns %>
            </main>
        </div>
      </div>
    </div>
      

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    <%= Drab.Client.run(@conn) %>
  </body>
</html>
