<h2>Pharmacy</h2>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Mobile number</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for pharmacy <- @pharms do %>
    <tr>
      <td><%= pharmacy.name %></td>
      <td><%= pharmacy.address %></td>
      <td><%= pharmacy.mobile_number %></td>

      <td class="text-right">
        <%= link "Show", to: pharmacy_path(@conn, :show, pharmacy), class: "btn btn-primary btn" %>
        <%= link "Edit", to: pharmacy_path(@conn, :edit, pharmacy), class: "btn btn-primary btn" %> 
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<%= link "New pharmacy", to: pharmacy_path(@conn, :new), class: "btn btn-primary btn"  %>
