<h2>Listing pharms</h2>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Mobile number</th>
      <th>Landline number</th>
      <th>Fax</th>
      <th>Email</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for pharmacy <- @pharms do %>
    <tr>
      <td><%= pharmacy.name %></td>
      <td><%= pharmacy.address %></td>
      <td><%= pharmacy.mobile_number %></td>
      <td><%= pharmacy.landline_number %></td>
      <td><%= pharmacy.fax %></td>
      <td><%= pharmacy.email %></td>

      <td class="text-right">
        <%= link "Show", to: pharmacy_path(@conn, :show, pharmacy), class: "btn btn-default btn-xs" %>
        <%= link "Edit", to: pharmacy_path(@conn, :edit, pharmacy), class: "btn btn-default btn-xs" %>
        <%= link "Delete", to: pharmacy_path(@conn, :delete, pharmacy), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-danger btn-xs" %>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<%= link "New pharmacy", to: pharmacy_path(@conn, :new) %>
