<h2>Add pharmacy</h2>

<%= render "form.html", changeset: @changeset,
                        action: pharmacy_path(@conn, :create) %>

<%= link "Back", to: pharmacy_path(@conn, :index), class: "btn btn-default btn" %>
