<h2>Listing genders</h2>

<table class="table">
  <thead>
    <tr>
      <th>Gender</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for gender <- @genders do %>
    <tr>
      <td><%= gender.gender %></td>

      <td class="text-right">
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<%= link "Add gender", to: gender_path(@conn, :new) %>
