<h2>Add Clinic Doctor</h2>

<%= render "form.html", changeset: @changeset,
                        action: c_doctor_path(@conn, :create) %>

<%= link "Back", to: c_doctor_path(@conn, :index), class: "btn btn-default btn" %>
