<h2>Listing relationships</h2>

<table class="table">
  <thead>
    <tr>
      <th>Relationship</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for relationship <- @relationships do %>
    <tr>
      <td><%= relationship.relationship %></td>

      <td class="text-right">
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<%= link "New relationship", to: relationship_path(@conn, :new) %>
