<h2>New relationship</h2>

<%= render "form.html", changeset: @changeset,
                        action: relationship_path(@conn, :create) %>

<%= link "Back", to: relationship_path(@conn, :index) %>
