<h2>Update phlebotomy record</h2>

<%= render "form.html", changeset: @changeset,
                        action: phlebotomy_path(@conn, :update, @phlebotomy) %>

<%= link "Back", to: phlebotomy_path(@conn, :index) %>
