<h2>Phlebotomy</h2>

<%= render "form.html", changeset: @changeset, patients: @patients,
                        action: phlebotomy_path(@conn, :create) %>

<%= link "Back", to: phlebotomy_path(@conn, :index) %>
