<%= link "Patient by GP", to: report_path(@conn, :index, %{"Type" => "PGP"}), class: "btn btn-primary btn" %>
<%= link "Patient by Doctor", to: report_path(@conn, :index, %{"Type" => "PD"}), class: "btn btn-primary btn" %>
<%= link "Patient by Age", to: report_path(@conn, :index, %{"Type" => "PAge"}), class: "btn btn-primary btn" %>
<%= link "Patient by Activity", to: report_path(@conn, :index, %{"Type" => "PA"}), class: "btn btn-primary btn" %>
<%= link "Patient by County", to: report_path(@conn, :index, %{"Type" => "PC"}), class: "btn btn-primary btn" %>
